body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: honeydew;
}

::placeholder{
    font-size: 15px;
    color: #aab7c4;
}

.error{
    color: red;
    font-family: "Trebuchet MS", Verdana, sans-serif;
    font-size: smaller;
}

label.error{
    display: inline;
}

a.disable{
    pointer-events: none;
}


* {
    box-sizing: border-box;
}


.input--webkit-autofill {
    background-color: #fefde5 !important;
}

textarea{
    width: 100%;
    margin: 5px 0 22px 0;
    padding: 10px 12px;
    background-color: white;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px 0 #e6ebf1;
}

/* Full-width input fields */
input[type=text], input[type=email], input[type=number]{
    width: 100%;
    margin: 5px 0 22px 0;
    background-color: white;

    padding: 10px 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px 0 #e6ebf1;
}

input[type=text]:focus, input[type=email]:focus, textarea:focus, input[type=number]:focus{
    font-size: 15px;
    box-shadow: 0 1px 3px 0 #cfd7df;
    background-color: #a5ddad;
}

.currency {
    padding-left:12px;
}

.currency-symbol {
    position:absolute;
    padding: 2px 5px;
}

/* Set a style for the submit button */
.submit {
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 5px 0 22px 0;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.submit:hover {
    opacity: 2;
}

.StripeElement {
    background-color: white;

    padding: 10px 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
    margin: 5px 0 22px 0;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
    background-color: #a5ddad;
}

.StripeElement--invalid {
    border-color: red;
}

.StripeElement--webkit-autofill {
    background-color: white !important;
}
